<section class="create-channel" [ngClass]="isOverlayOpen ? 'overlay-open' : 'overlay-close'">
    <article class="overlay" [ngClass]="!isAddMembersOpen ? 'overlay-open' : 'overlay-close'">
        <div class="overlay-header">
            <h1>Channel erstellen</h1><img class="close-img" src="assets/close.png" alt="Close"
                (click)="closeOverlay()">
        </div>
        <span class="overlay-span">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen
            sein #marketing zum Beispiel.</span>
        <article class="overlay-body">
            <div class="overlay-input">
                <label class="label-style" for="channel-name">Channel-Name</label>
                <input [(ngModel)]="channelName" type="text" id="channel-name" name="channel-name" autocomplete="off"
                    placeholder="# z.B. Kooperationsprojekte">
            </div>
            <div class="overlay-input">
                <label class="label-style" for="channel-description">Beschreibung <p>(optional)</p></label>
                <input [(ngModel)]="channelDescription" type="text" id="channel-description" name="channel-description"
                    placeholder="Dein Text hier">
            </div>
            <div class="btn-container" [class.disabled]="channelName === ''"><button [disabled]="channelName === ''"
                    (click)="toAddMembers()">Erstellen</button></div>
        </article>
    </article>
    <article class="overlay-add-members" [ngClass]="isAddMembersOpen ? 'overlay-open' : 'overlay-close'">
        <div class="members-header">
            <h1>Leute hinzufügen</h1><img class="close-img" src="assets/close.png" alt="Close" (click)="closeOverlay()">
        </div>
        <div class="flex-start margin-bottom input-container" (click)="selectMemberSource('existing')"
            [ngClass]="{'disableInput': topChannelName === 'No channels found'}"><input type="radio"
                [checked]="isChecked === 'existing'">
            <h2 class="flex-start">Alle Mitglieder von <p>{{topChannelName}}</p> hinzufügen</h2>
        </div>
        <div class="flex-start input-container" (click)="selectMemberSource('custom')"><input type="radio"
                [checked]="isChecked === 'custom'">
            <h2>Bestimmte Leute hinzufügen</h2>
        </div>
        <div class="add-user-dropdown">
            <div class="drop-down-dropdown" [class.dnone]="isChecked !== 'custom'">
                <div class="input-container-dropdown">
                    <div *ngFor="let member of members" class="selectUser"><img class="user-icon"
                            [src]="member.avatarUrl" alt="User"><span>{{ member.name }}</span><img
                            (click)="removeUserFromChannel(member)" class="close-icon" src="assets/close.png"
                            alt="Remove"></div>
                    <input id="SelctUser" type="text" placeholder="Name eingeben" autocomplete="off"
                        [(ngModel)]="selectedUser" (keyup)="filterUsers()">
                </div>
                <div *ngFor="let user of dropDownUsers" class="drop-down-container" [class.dnone]="selectedUser === ''">
                    <div (click)="selectUser(user)" class="drop-down-item"><img [src]="user.avatarUrl"
                            alt="User"><span>{{ user.name }}</span></div>
                </div>
            </div>
        </div>

        <div class="btn-container" [class.disabled]="
    channelName === '' ||
    (isChecked === 'custom' && members.length === 0)
  ">
            <button [disabled]="
      channelName === '' ||
      (isChecked === 'custom' && members.length === 0)
    " (click)="checkInput()">
                Erstellen
            </button>
        </div>
    </article>
</section>