<section>

    <div class="chat-container">

        <div class="channel-header">

            <div class="channel-info">
                <figure>
                    <img class="channel-img" src="./../../../../public/assets/account_circle-hover.png">
                    <span>Sofia Müller</span>
                </figure>
            </div>

            <div class="members">
                <summary>
                    <span>summary</span>
                </summary>
                <div>
                    addBtn
                </div>

            </div>
        </div>



        <div class="chat-messages">
            <p>messages</p>
        </div>

        <div class="chat-input-container">
            <textarea type="text" placeholder="Nachricht an #Entwicklerteam" rows="3"></textarea>
            
            <div class="chat-input-aktions"> >
                <div class="input-features"></div>
                <div class="send-btn"></div>
            </div>
        </div>

    </div>

</section>