<div class="a">
    <section class="workspace-container">
        <div class="workspace-header">

            <h1><img src="assets/Workspace_logo.png" alt="Workspace Logo" class="workspace-logo">Devspace</h1>
            <img src="assets/edit_square.png" alt="Edit">
        </div>

        <article class="channel-container">
            <div class="channel-header">
                <div class="channel-dropdown">
                    <img [src]="isChannelOpen ? 'assets/arrow_drop_down.png' : 'assets/offline.png'">
                    <h2><img src="assets/channel-img.png">Channels</h2>
                </div>
                <img src="assets/add.png" alt="Add">
            </div>
            <div class="channel-list">
                <p class="channel-list-element"><img src="assets/tag_black.svg" alt="Channel">EntwicklerTeam</p>
                 <div class="add-channel-btn"><img src="assets/add_circle.png" alt="Add">Channel hinzufügen</div>
            </div>
        </article>


        <article class="direct-message-container">
             <div class="direct-message-header">
                <img [src]="isChannelOpen ? 'assets/arrow_drop_down.png' : 'assets/offline.png'">
                <h2><img src="assets/account_circle.png">Directnachricht</h2>
            </div>
            <div class="direct-message-list">
                <img><h3>Name</h3>
            </div>
        </article>
    </section>
</div>