<section [ngClass]="isOverlayOpen ? 'open' : 'close'">
    <article class="group-details-overlay">
        <div class="overlay-header">
            <h1># {{channelDetails()?.channelName}}</h1>
            <img class="x-img" (click)="closeOverlay()" src="assets/close.png">
        </div>
        <div class="group-style group-details-overlay-content"
            [ngClass]="editingField === 'channelName' ? 'no-border' : ''">
            <div>
                <h2>Channel name</h2><button class="edit-btn" (click)="editChannelName()"
                    [ngClass]="currentUser()?.uid === channelDetails()?.createdBy ? '' : 'dnone'">{{ editingField ===
                    'channelName' ? 'Speichern' : 'Bearbeiten' }}</button>
            </div>
            <h3 class="group-name" *ngIf="editingField !== 'channelName'"># {{ channelDetails()?.channelName }}</h3>
            <input *ngIf="editingField === 'channelName'" class="edit-input"
                [placeholder]="errorInput === 'channelName' ? 'Fehlerhafte Eingabe' : '# ' + channelDetails()?.channelName"
                [(ngModel)]="channelName" [ngClass]="errorInput === 'channelName' ? 'errorInput' : ''">
        </div>

        <div class="group-style group-description" [ngClass]="editingField === 'description' ? 'no-border' : ''">
            <div class="description-header">
                <h2>Beschreibung</h2><button class="edit-btn" (click)="editDescription()"
                    [ngClass]="currentUser()?.uid === channelDetails()?.createdBy ? '' : 'dnone'">{{ editingField ===
                    'description' ? 'Speichern' : 'Bearbeiten' }}</button>
            </div>
            <p *ngIf="editingField !== 'description'">{{channelDetails()?.description}}</p>
            <input *ngIf="editingField === 'description'" class="edit-input"
                [placeholder]="errorInput === 'description' ? 'Fehlerhafte Eingabe' : 'Dein Text hier'"
                [(ngModel)]="description" [ngClass]="errorInput === 'description' ? 'errorInput' : ''">
            <h2>Erstellt von</h2>
            <h3 class="groupHost">{{getCreater(channelDetails()?.createdBy ?? '')}}</h3>
        </div>
        <div class="group-style" [ngClass]="isMobile ? '' : 'dnone'">
            <div *ngFor="let member of channelDetails()?.members" class="member-container">
                <p class="member-info"><img class="avatar-img" [src]="member.avatarUrl" alt="{{ member.name }}"><img
                        class="status-img" [src]="getUserStatus(member.uid) === 'online'
    ? 'assets/Online.png'
    : 'assets/Offline.png'" alt=""> </p>{{
                member.name }}
            </div>
            <div class="add-member-container"><img src="assets/person_add.png" alt="Add member">Person Hinzufügen</div>
        </div>

        <div class="btn-container"><button (click)="leaveChat()">Channel verlassen</button></div>
    </article>
</section>